common --registry=https://raw.githubusercontent.com/snailbaron/registry/main
common --registry=https://bcr.bazel.build

build --compilation_mode=dbg
build --cxxopt=-std=c++26
build --copt=-Wall --copt=-Wextra --copt=-Wpedantic
build --copt=-fdiagnostics-color
test --test_output=errors

build:release --compilation_mode=opt

build --disk_cache=~/.cache/bazel-disk-cache
build --experimental_disk_cache_gc_max_size=10G
